@charset 'UTF-8';
.clearfix::after{
	content: "";
	display: block;
	clear: both;
	}
body,ul,h1,h2,h3,p,span,a,img{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
h1,h2,h3,p,a,span{
	font-size: 14px;
	font-family: '宋体';
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	width: 100%;
	background-color: #ECF9F1;
}
#header{
	width: 100%;
	height: 190px;
	background: url('../images/lb.fw.png') center;
}
#header h1{
	width: 960px;
	background: url('../images/logo.fw.png') no-repeat;
	line-height: 42px;
	text-indent: -1000px;
	margin: 0 auto;
}
#nav{
	width: 100%;
	background: #4CACF8;
}
#nav a:hover{
	text-decoration: underline;
}
#nav h2{
	width: 960px;
	margin: 0 auto;
	height: 38px;
	font-weight: normal;
}
#nav a{
	color: #fff;
	line-height: 38px;
}
#main,#footer{
	width: 960px;
	margin: 0 auto;
}
#main,#footer{
	border-left: 2px solid #DFDFDF;
	border-right: 2px solid #DFDFDF;
}
#main h2{
	font-size: 20px;
	color: #333;
	text-align: center;
	line-height: 64px;
	margin-top: 2px;
	font-family: '微软雅黑';
}
#main .img{
	text-align: center;
	margin-bottom: 26px;
}
#main .main1,#main .main2,#main .main3,#main .main4,#main .main5{
	margin: 0 23px 0 22px;
}
#main .main6{
	margin: 22px 23px 0 19px;
}
#main .main1{
	margin-bottom: 15px;
}
#main h3{
	line-height: 46px;
	color: #333;
}
#main p{
	line-height: 26px;
	color: #666;
	text-indent: 2em;
}
#main .bl{
	height: 21px;
	border-bottom: 1px solid #38A5FB;
	margin-bottom: 15px;
}
#main h4{
	height: 21px;
	background: #38A5FB;
	color: #fff;
	padding: 0;
	width: 74px;
	line-height: 22px;
	margin-left: 9px;
	text-align: center;
}
#main #main5{
	line-height: 50px;
}
#main a{
	background: url('../images/wenb.fw.png') no-repeat center;
	display: inline-block;
	width: 162px;
	font-size: 22px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: '微软雅黑';
	color: #307BB7;
	margin-left: 12px;
}
#main .main6{
	width: 916px;
	height: 203px;
	border: 1px solid #A2D4FC;
}
#main .m1{
	padding: 17px 7px 21px 14px;
}
#main .m2{
	padding: 17px 7px 21px 0;
}
#main .m3{
	padding: 17px 7px 21px 0;
}
#footer{
	height: 85px;
}
#footer p{
	font-size: 12px;
	color: #666;
	text-align: center;
	padding: 48px 0 9px;
}